/********************Custom code **************************/
.text-white {
    color: #fff;
  }
  .secondary-bg {
    background: #000;
  }
  .primary-color {
    color: #a7f108;
  }
  .no-margin {
    margin: 0;
  }
  .no-padding {
    padding: 0;
  }
  .margin-auto {
    margin: 0 auto;
  }
  .font-bold {
    font-weight: 800;
  }
  .font-semi-bold {
    font-weight: 600;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .mb-50 {
    margin-bottom: 50px;
  }
  .pr-20 {
    padding-right: 20px;
  }
  .bg-white {
    background: #fff;
  }
  .demo-video {
    position: relative;
  }
  .play-img {
    position: absolute;
    left: 40%;
    top: 40%;
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  .btn-primary {
    background-color: #a7f108;
    color: #000;
    border: 1px solid #a7f108;
    outline: none;
    border-radius: 20px;
    padding: 10px 40px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
  }
  .icon_section {
    h2 {
      margin: 40px;
      &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 8%;
        padding-top: 15px;
        border-bottom: 4px solid #a7f108;
      }
    }
    .icon-box {
      a {
        display: block;
        text-decoration: none;
        .icon-box-icon {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 2rem;
          img {
            width: 100px;
            height: 100px;
          }
        }
        .icon-box-content {
          h3 {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  .item {
    blockquote {
      p {
        font-size: 1.4em;
        color: #555555;
        padding: 1.2em 0px 1.2em 60px;
        line-height: 1.6;
        position: relative;
        border: none;
        &:before {
          content: "\201C";
          color: #a7f108;
          font-size: 10em;
          margin-right: 10px;
          font-size: 4em;
          position: absolute;
          left: 10px;
          top: -10px;
        }
      }
    }
    .testimonial_img {
      align-items: center;
      justify-content: center;
    }
  }
  .copyrights-wrapper {
    .min-footer {
      border-top: 1px solid rgba(255, 255, 255, 0.6);
    }
    .copyright-text {
      color: rgba(255, 255, 255, 0.6);
      font-size: 0.9em;
      padding: 30px 0;
    }
  }
  .contact-form {
    .form-field {
      background: #f7f7f7;
      /*border-radius: 15px;*/
      border-left: 4px solid #a7f108;
      width: 95%;
      margin: 0 auto;
      padding: 20px;
    }
  }
  /***********Download app *****************/
  .app_store_dn {
    background: url ("../img/app_store_dn.jpg");
  }
 
  /********************Footer **************************/
  .footer-column {
    .footer-sidebar {
      padding: 50px 10px;
    }
    h5 {
      font-size: 1.1em;
      font-weight: bold;
    }
    ul {
      li {
        a {
          color: #fff;
          display: block;
          padding: 5px 0;
          text-decoration: none;
        }
      }
    }
    .footer-column-5 {
      ul {
        li {
          a {
            display: block;
            padding: 10px 0;
          }
        }
      }
    }
  }
  .news-letter-section {
    #search-form_3 {
      background: #fff; /* Fallback color for non-css3 browsers */
      width: 40%;
      margin: 30px auto;
      border-radius: 17px;
      -webkit-border-radius: 17px;
      -moz-border-radius: 17px;
    }
    .search_3 {
      background: #fafafa; /* Fallback color for non-css3 browsers */
      border: 0;
      font-size: 16px;
      padding: 9px;
      width: 80%;
      border-radius: 17px;
      -webkit-border-radius: 17px;
      -moz-border-radius: 17px;
      &:focus {
        outline: none;
        background: #fff; /* Fallback color for non-css3 browsers */
      }
    }
    .submit_3 {
      background: #a7f108; /* Fallback color for non-css3 browsers */
      border: 0;
      color: #000;
      cursor: pointer;
      float: right;
      font: 16px "Raleway", sans-serif;
      font-weight: bold;
      height: 40px;
      width: 95px;
      outline: none;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      &:hover {
        background: #a7f108; /* Fallback color for non-css3 browsers */
      }
      &:active {
        background: #a7f108; /* Fallback color for non-css3 browsers */
      }
    }
  }
  .client-logos {
    justify-content: space-between;
    align-items: center;
    display: flex;
    .img-grayscale {
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
      filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
      cursor:pointer;
      &:hover{
        opacity: 1;
        filter: grayscale(0);
      }
    }
  }

  .widget-area {
      display: flex;
  }
  
  .navbar {
    &.navbar-inverse {
      background-color: #000;
      border-color: #000;
    }
    .navbar-nav {
      li {
        a {
          color: #fff;
          font-size: 0.9em;
        }
        &.active {
          a {
            &:after {
              border-bottom: 2px solid #a7f108;
              content: "";
              display: block;
              padding-top: 5px;
            }
          }
        }
      }
    }
  }
  