body{
  font-family: 'Roboto-Regular';
}
.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-50 {
  margin-bottom: 50px;
}
.pr-20 {
  padding-right: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-50{
  padding-top:50px;
}
.pb-30{
  padding-bottom: 30px;
}
.pb-50{
  padding-bottom: 50px;
}
.no-margin{
  margin:0;
}
.no-padding {
  padding: 0;
}
.margin-auto {
  margin: 0 auto;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-captialise {
  text-transform: capitalize;
}

.font-bold {
  font-weight: 800;
}
.font-semi-bold {
  font-weight: 600;
}
