<mat-card class="col-12 saned-section-wrapper">
    <mat-card-title class="title text-center">SANED SOLUTIONS </mat-card-title>
    <ul class="domains col-12 mt-50">
        <li *ngFor="let img of images" class="col-sm-6 col-md-3 text-center">
            <a href="/">
                <img src="{{hostName +img.media.url}}">
                <p>{{img.headline}}</p>
            </a>
        </li>
    </ul>
</mat-card>