@import "../../../../assets/css/constants.scss";
.top_header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  font-family: 'Roboto-Regular';
  font-size: 0.9em;
  .top_section_left{
    @media only screen and (min-width: 768px) {
    display: flex !important;
  }
}
  .top_section_right {
    justify-content: flex-end;
    display: flex;
    li{
      a{
        font-size: 0.9em;
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .top_header {
    flex-direction: column;
    padding: 0 !important;
  }
  .top_section_left, .top_section_right {
    display: flex;
    justify-content: space-between;
  }
}


  