<mat-card class="login-container">
  <mat-card-title class="title"><h2>Login </h2></mat-card-title>
  <mat-error class="error-msg" *ngIf="loginError">Login Failed. Please try again</mat-error>
  <form class="login-us-form" [formGroup]="userLoginForm" (ngSubmit)="onSubmitLoginDetails(userLoginForm.value)">
    <mat-form-field class="email-field" appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput placeholder="" value="" formControlName="email" required autocomplete="off" />
      <mat-error *ngFor="let validation of validationMessages.email">
          <mat-error class="error-message" *ngIf="
          userLoginForm.get('email').hasError(validation.type) &&
              (userLoginForm.get('email').dirty ||
              userLoginForm.get('email').touched)">{{ validation.message }}</mat-error>
        </mat-error>
    </mat-form-field>
  
    <mat-form-field class="password-field " appearance="standard">      
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="" value="" formControlName="password" required autocomplete="off" />
      <mat-error *ngFor="let validation of validationMessages.password">
        <mat-error class="error-message" *ngIf="
        userLoginForm.get('password').hasError(validation.type) &&
            (userLoginForm.get('password').dirty ||
            userLoginForm.get('password').touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
    <div class="forgot-pwd"><a href="/">Forgot Password?</a></div>
    <button mat-raised-button [disabled]="!userLoginForm.valid" class="submit-btn">
      Sign In
    </button>
    <div class="register-link"><p>Don't have an account</p></div>
    <button mat-raised-button class="register-btn" routerLink = '/register'>
      Register
    </button>
  </form>
  </mat-card>
  